.banner {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;

  &__content {
    width: 511px;
  }

  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 82px;

    color: #000000;

    margin: 0;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    margin: 0;
    margin-bottom: 30px;

    color: #575455;
  }

  &__btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    border: 0;
    padding: 12px 43px;

    background: #1f7cff;
    border-radius: 10px;
    color: #ffffff;
  }

  &__img {
    margin-right: 59px;

    position: relative;
  }
}

.info {
  display: flex;
  align-items: center;

  position: absolute;
  top: 96px;
  right: -36px;

  background-color: #fff;
  box-shadow: 7px 9px 18px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  padding: 13px;

  &__pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  &__group {
    margin-left: 12px;
  }

  &__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #070f18;
  }

  &__subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    color: #575455;
  }
}
